# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\vbim02\Downloads\curso-javascript-projeto-usuarios-master\curso-javascript-projeto-usuarios-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
